h1{
  color: green;
    background-color: pink
}
p{
    color:darkblue;
    font-family: Algerian, Helvetica, sans-serif;
}
p span{
    color:aqua;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Helvetica, sans-serif, cursive;
}
table tr th.thing2{
    color: white;
    background-color: black
}
th:hover { 
    background-color: rgb(0,150,190); 
}