body header div#topBar{
    background: rgb(28%, 0%, 10%);
}

main{
    background: rgb(5%, 0%, 10%);
}

header{
    background: rgb(5%, 0%, 10%);
}

div#video{
    margin-left: 50px auto;
    margin-right: 50px auto;
    text-align: center;
}

h1#myMusic{
    text-align: center;
    color: rgb(0%, 75%, 75%);  
}

h2#mostRecent{
    text-align: center;
}

h2#mostPopular{
    text-align: center;
}

p#mostRecent{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}

p#mostPopular{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}